doctype html
html(lang="en")
	head
		title Title
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(href="../css/style.css", rel='stylesheet')
	body
		include ./nav.pug
		block content

